<div class="flex flex-row">
    <div class="">
        <input id="<%= label_to_key(label) %>" type="checkbox" class="mr-1 w-4 h-4 text-blue-600 border-slate-300 rounded">
    </div>
    <div>
        <label for="<%= label_to_key(label) %>" class="font-semibold text-slate-600 inline-flex text-xs md:text-sm select-none cursor-pointer hover:underline"><%= label %></label>
        <p class="text-xs text-slate-400 inline-flex select-none"><%= description %></p>
    </div>
</div>