<%= form_with url: evaluation_save_path, method: :post, data: { controller: "auto-submit", action: "capability:toggled@window->auto-submit#dirty capability:toggled@window->auto-submit#submit title:changed@window->auto-submit#dirty title:changed@window->auto-submit#submit", turbo_stream: true } do |form|  %>
    <% if table[:form_key] %>
    <input type="hidden" name="form_key" value="<%= table[:form_key] %>">
    <% end %>
    <div class="flex flex-row justify-between items-center mb-2">
        <div class="flex flex-col">
            <div class="flex flex-row justify-start items-center gap-x-2">
                <%= render "form_title", text: table[:title] %>
                <div data-auto-submit-target="savingIcon" class="h-5 md:h-6 lg:h-8 flex flex-row gap-x-1 items-baseline">
                    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" class="text-slate-500" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <g transform="translate(0, -2) matrix(1.01508,0,0,1,0.0940615,0.0723927)">
                            <path d="M4.38,19.443C2.455,19.443 0.892,17.88 0.892,15.955C0.892,14.03 2.455,12.467 4.38,12.467C4.448,12.467 4.516,12.469 4.583,12.473C4.583,12.471 4.583,12.469 4.583,12.467C4.583,10.265 6.372,8.476 8.574,8.476C8.857,8.476 9.133,8.506 9.399,8.562C9.817,6.205 11.877,4.412 14.353,4.412C17.129,4.412 19.383,6.666 19.383,9.443C19.383,9.556 19.38,9.668 19.372,9.78C21.24,10.505 22.566,12.32 22.566,14.443C22.566,17.202 20.325,19.443 17.566,19.443C17.561,19.443 17.557,19.443 17.553,19.443L4.38,19.443Z" style="fill:none;stroke:currentColor;stroke-width:1.98px;"/>
                        </g>
                    </svg>
                    <span class="text-sm md:text-lg lg:text-lg">Saving...</span>
                </div>
                <div data-auto-submit-target="savedIcon" class="h-5 md:h-6 lg:h-8 flex flex-row gap-x-1">
                    <svg viewBox="0 0 24 24" version="1.1" class="text-blue-600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                        <g transform="translate(0, -2)">
                            <g transform="matrix(1.01508,0,0,1,0.0940615,0.0723927)">
                                <path d="M4.38,19.443C2.455,19.443 0.892,17.88 0.892,15.955C0.892,14.03 2.455,12.467 4.38,12.467C4.448,12.467 4.516,12.469 4.583,12.473C4.583,12.471 4.583,12.469 4.583,12.467C4.583,10.265 6.372,8.476 8.574,8.476C8.857,8.476 9.133,8.506 9.399,8.562C9.817,6.205 11.877,4.412 14.353,4.412C17.129,4.412 19.383,6.666 19.383,9.443C19.383,9.556 19.38,9.668 19.372,9.78C21.24,10.505 22.566,12.32 22.566,14.443C22.566,17.202 20.325,19.443 17.566,19.443C17.561,19.443 17.557,19.443 17.553,19.443L4.38,19.443Z" style="fill:none;stroke:currentColor;stroke-width:1.98px;"/>
                            </g>
                            <g transform="matrix(0.897531,0,0,0.856767,1.71728,1.40309)">
                                <path d="M7,14L9.777,16.777L16.759,9.796" style="fill:none;stroke:currentColor;stroke-width:2.28px;"/>
                            </g>
                        </g>
                    </svg>
                    <span class="text-sm md:text-lg lg:text-lg">Saved</span>
                </div>
            </div>
            <h4 class="noto-serif-thai-regular text-slate-400 text-sm md:text-lg lg:text-lg leading-loose">Continuous Delivery Maturity Model</h4>
        </div>
    </div>
    <%= render "form_table", table: table %>
<% end %>