<table class="border-separate table-fixed border-spacing-0">
    <thead class="sticky top-0 z-10">
        <tr>
            <th class="border-gray-300 bg-slate-100 border p-2 text-xs md:text-sm sticky left-0 z-20"></th>
            <% table[:col_headers].each_with_index do |col_header, col_index| %>
            <th class="border-gray-300 bg-slate-100 border border-l-0 p-2 text-center text-xs md:text-sm font-bold z-10 relative"><%= col_header %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% table[:row_headers].each_with_index do |row_header, row_index| %>
        <tr>
            <td class="sticky left-0 border-gray-300 bg-slate-100 border border-t-0 p-2 text-center text-xs md:text-sm font-bold z-10"><%= row_header %></td>
            <% table[:col_headers].each_with_index do |col_header, col_index| %>
                <td class="relative border-gray-300 border border-l-0 border-t-0 p-2 text-xs md:text-sm align-top">
                    <div class="flex flex-col gap-y-4 items-start">
                    <% get_data_at(table, row_index, col_index).each_with_index do |data, data_index| %>
                    <%= render :partial => "capability_item", :locals => { key: data[:key], label: data[:label], description: data[:description], value: data[:value] } %>
                    <% end %>
                    </div>
                </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>